// .list element style
.list {
	background: $darkGrey;
  border-bottom: $twenty solid $borderGrey ;
  border-radius: 0px 0px 2px 2px;
  display: flex;
  height: auto;
  margin: 0 auto;
  padding-bottom: $twenty;
  text-align: left; 
  transition: all 1s;
  width: 90%;
  .callContainer {
  	width: 100%;
	}
	@media screen and (max-width: 860px) {
    width: 100%;
    flex-direction: column;
	}
}
