.mainActions {
  display: flex;
  flex-direction: row;
}

// form toggle btn
.toggleBtn{
	display: block;
  padding: $ten 15px;
  border-radius: 2px 2px 0 0;
  color: $darkestGrey;
  background-color: $borderGrey;
  transition: width .5s, background-color .1s;
  text-align: center;
  margin: $twenty auto 0;
  width: 90%;
  transition: background-color .5s;
  &:hover {
    color: $darkestGrey;
    background-color: $grey;
  }
  &:active {
    background-color: $lightGrey;
  }
  @media screen and (max-width: 860px) {
    width: 100%;
  }
}
