.mainActions {
  display: flex;
  flex-direction: row;
}

// form toggler
.toggleBtn{
	display: block;
  padding: $ten 15px;
  border-radius: 2px 0 0 0;
  color: $darkestGrey;
  background-color: $borderGrey;
  transition: width .5s, background-color .1s;
  text-align: center;
  margin: $twenty 0 0 auto;
  width: 45%;
  transition: background-color .5s;
  & + & {
    margin: $twenty auto 0 0;
    border-radius: 0 2px 0 0;
  }
  &:hover {
    color: $darkestGrey;
    background-color: $nearGrey;
  }
  &:active {
    background-color: $lightGrey;
  }
  @media screen and (max-width: 860px) {
    width: 100%;
  }
}
