//angular loading bar
#loading-bar {
  .bar {
    background: $saveGreen;
    height: 3px;
  }
  &-spinner .spinner-icon {
    display: none;
  }
}

// nav element style
nav {
	background: $lightGrey;
	display: flex;
	justify-content: space-between;
	transition: all .5s;
	border-radius: 2px;
  height: auto;
  .is-sticky & {
    background: rgba(211, 211, 211, 0.8);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.6);
    .toTop {
      display: block;
      cursor: pointer;
    }
  }
  .refresh {
    font-size: 1.5em;
     cursor: pointer;
     align-self: center;
     margin: .5em;
     transition: all .5s;
     transform: rotate(180deg);
     &:hover {
      color: $nearWhite;
      transform: rotate(540deg);
     }
     &:active {
      color: $grey;
     }
  }
  .toTop {
    display: none;
    font-size: 1.5em;
    align-self: center;
    width: 20px;
    transform: rotate(270deg);
    transition: all .5s;
    &:hover {
      color: $nearGrey;    }
    &:active {
      color: $darkestGrey;
    }
  }
  h3 {
    margin: auto 10px;
    position: relative;
  }
  .sortForm {
    margin: auto 10px;
    display: flex;
    flex-direction: row;
  }
  select {
    font-size: .777em;
  }
	// search input
  .searchbar {
    display: inline-flex;
    margin: auto 0;
    align-self: flex-end;
    label {
      padding: $ten;
    }
    input {
      background: $white;
      border: 1px solid $darkerGrey;
      color: $darkestGrey;
      height: 30px;
      width: 100%;
      text-align: center;
      font-size: 1em;
      &:focus {
        
      }
    }
  }
  @media screen and (max-width: 860px) {
    flex-direction: row;
    
    h3 {
      display: none;
    }
  }
}

