// color scheme
$white       : #ffffff;
$nearWhite   : whitesmoke;
$nearGrey	 : #EFEFEF;
$lightGrey   : #adadad;
$grey        : grey; 
$darkGrey	 : #D4D4D4;
$borderGrey  : #adadad;
$darkerGrey  : #696969;
$darkestGrey : #444444;
$disabledGrey: #777777;

$labelBorder : #a7b9c4;
$noteYellow  : #FBFC99;
$addBlue     : #65a1cc;
$deleteRed   : #ed5a5a;
$saveGreen   : #7dc77f;
$saveGreenHov: #bee3bf;

// base font
$baseFont     : 'Source Sans Pro', sans-serif;
$baseFontColor: $darkestGrey;
$baseFontSize : 1.111em;
$baseFontSmall: 1em;

// standard sizes (just playing with vars)
$ten: 10px;
$twenty: 20px;

