// base/common vars
@import "partials/_variables";
// general style
@import "partials/_general";
// nav style
@import "partials/_nav";
// entry form style
@import "partials/_form";
// call list style
@import "partials/_list";
// call style
@import "partials/_call";
// main action bar style
@import "partials/_mainActions";
